* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#foto-perfil {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.logo-github,
.logo-linkedin {
  height: 30px;
  width: 30px;
}

main {
  text-align: center;
  margin: 40px 250px;
  padding: 15px;
  height: 100px;
  line-height: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(73, 89, 119);
  border-radius: 5px;
}