body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(160deg, #f7eef2, #b9a4e0);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.left {
  flex: 1;
  padding: 20px;
  display: flex;
  margin-left: 40px;
  flex-direction: column;
}

.right {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightP {
  font-size: 11px;
  display: flex;
  position: relative;
  left: 60px;
}

.right input {
  width: 60%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.right button {
  width: 66%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #3498db;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.right .social-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right .social-buttons button {
  width: 125%;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
  color: #333;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid grey
}

.material-button .material-button-content-wrapper {
  display: flex;
  align-items: center;
}

.material-button .material-button-contents {
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

#logo {
  display: flex;
  position: relative;
  right: 6px;
  height: 20px;
  width: 20px;
}

h6 {
  font-weight: 400;
  color: grey;
}